ul {
  list-style: none;
  /* border: 1px black solid; */
  width: 50%;
  margin: auto;
  padding: 1em 2em;
}

.App {
  text-align: center;
  border: 1px solid black;
  width: 90%;
  margin: auto;
}

.task-list {
  display: flex;
  justify-content: space-between;
}

ul li,
button {
  margin-bottom: 1em;
}
